build/
scratch/
dtcc-demo-data/

*.las
*.laz
*.csv
*.cpg
*.dbf
*.prj
*.qmd
*.shp
*.shx
*.tif
*.vtk
*.vtu
*.obj
*.mtl
!cube_pc.csv

*.city.json
*.json
*.html
*.txt

.idea/
.vscode/
cmake-build-debug/
__pycache__
*.pyc
.DS_Store
*.egg-info/

*.so
*.o
*.a

*.lock